## DarkSky API pull for fire post clustered data
### Main columns needed are latitude, longitude, datetime

In [120]:
import pandas as pd
import datetime
import numpy as np

import config

from darksky import forecast
from datetime import datetime as dt
from datetime import timedelta
from datetime import date
from sqlalchemy import create_engine

In [121]:
# create sqlalchemy engine
engine = create_engine("mysql+mysqlconnector://{user}:{password}@{host}/{dbname}"
                       .format(user=config.db_user,
                               password=config.db_pass,
                               dbname=config.db_name,
                               host=config.db_host))

In [122]:
RAPIDAPI_KEY  = config.darksky_api1
RAPIDAPI_KEY2  = config.darksky_api2

In [123]:
def weather_lookup(df, key=RAPIDAPI_KEY, days_before=0, days_after=0):
    data = []
    for index, row in df.iterrows():
        ts = row['datetime'].isoformat() 
        lat = row['latitude']
        lon = row['longitude']
        weather = forecast(key, lat, lon, time=ts)
        w_dict = weather['currently']
        w_dict['timestamp'] = ts
        w_dict['latitude'] = lat
        w_dict['longitude'] = lon
        data.append(w_dict)
    return data

In [178]:
filename = "fire_lat_lon_data/Emissions2005_DBScan_Clusters.csv"

In [179]:
firedata = pd.read_csv(filename)

In [180]:
firedata['datetime'] = (pd.to_datetime(firedata.year, format='%Y') + 
                       firedata['doy'].apply(np.ceil).apply(
                           lambda x: pd.Timedelta(x, unit='D')) + timedelta(hours=12))

In [181]:
firedata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9010 entries, 0 to 9009
Data columns (total 24 columns):
Unnamed: 0             9010 non-null int64
id                     9010 non-null float64
year                   9010 non-null float64
doy                    9010 non-null float64
longitude              9010 non-null float64
latitude               9010 non-null float64
grid10k                9010 non-null float64
covertype              9010 non-null float64
fuelcode               9010 non-null float64
area_burned            9010 non-null float64
prefire_fuel           9010 non-null float64
consumed_fuel          9010 non-null float64
ECO2                   9010 non-null float64
ECO                    9010 non-null float64
ECH4                   9010 non-null float64
EPM2.5                 9010 non-null float64
cwd_frac               9010 non-null float64
duff_frac              9010 non-null float64
fuel_moisture_class    9010 non-null float64
burn_source            9010 non-null float64
burnday_source         9010 non-null float64
BSEV                   9010 non-null float64
BSEV_flag              9010 non-null float64
datetime               9010 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(22), int64(1)
memory usage: 1.6 MB

In [182]:
firedata1000 = firedata[:]

In [183]:
firedata2000 = firedata[1000:2000]

In [184]:
firedata3000 = firedata[2000:]

In [185]:
weather_df1 = pd.DataFrame(weather_lookup(firedata1000,RAPIDAPI_KEY))

In [186]:
#weather_df2 = pd.DataFrame(weather_lookup(firedata4000,RAPIDAPI_KEY2))

In [187]:
db_columns = ['apparentTemperature', 'cloudCover', 'dewPoint',
       'humidity', 'icon', 'latitude', 'longitude', 'precipAccumulation',
       'precipIntensity', 'precipProbability', 'precipType', 'pressure',
       'summary', 'temperature', 'time', 'timestamp', 'uvIndex', 'visibility',
       'windBearing', 'windGust', 'windSpeed']

In [188]:
weather_df1 = weather_df1[db_columns]

In [189]:
#weather_df2 = weather_df2[db_columns]

In [191]:
weather_df1.to_sql('weather_loading', con = engine, if_exists = 'append', chunksize = 100000)

In [192]:
#weather_df2.to_sql('weather_loading', con = engine, if_exists = 'append', chunksize = 100000)

In [193]:
query = """SELECT * FROM weather_loading;
"""

In [194]:
weather_all_sql = pd.read_sql(query, engine)

In [195]:
#weather_all_sql = weather_all_sql.reset_index()[db_columns]

In [196]:
#weather_all_sql.to_sql('weather_loading', con = engine, if_exists = 'replace', chunksize = 100000)

In [197]:
weather_all_sql.to_csv('weather_96000.csv')

In [198]:
weather_all_sql.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101092 entries, 0 to 101091
Data columns (total 22 columns):
index                  101092 non-null int64
apparentTemperature    99129 non-null float64
cloudCover             79410 non-null float64
dewPoint               98593 non-null float64
humidity               98560 non-null float64
icon                   76919 non-null object
latitude               101092 non-null float64
longitude              101092 non-null float64
precipAccumulation     472 non-null float64
precipIntensity        93518 non-null float64
precipProbability      93518 non-null float64
precipType             10846 non-null object
pressure               61194 non-null float64
summary                77505 non-null object
temperature            99129 non-null float64
time                   101092 non-null int64
timestamp              101092 non-null object
uvIndex                79410 non-null float64
visibility             81109 non-null float64
windBearing            97434 non-null float64
windGust               92269 non-null float64
windSpeed              98546 non-null float64
dtypes: float64(16), int64(2), object(4)
memory usage: 17.0+ MB

In [199]:
weather_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9010 entries, 0 to 9009
Data columns (total 21 columns):
apparentTemperature    8665 non-null float64
cloudCover             6636 non-null float64
dewPoint               8614 non-null float64
humidity               8606 non-null float64
icon                   6154 non-null object
latitude               9010 non-null float64
longitude              9010 non-null float64
precipAccumulation     22 non-null float64
precipIntensity        7878 non-null float64
precipProbability      7878 non-null float64
precipType             829 non-null object
pressure               5425 non-null float64
summary                6226 non-null object
temperature            8665 non-null float64
time                   9010 non-null int64
timestamp              9010 non-null object
uvIndex                6636 non-null float64
visibility             6634 non-null float64
windBearing            8429 non-null float64
windGust               7707 non-null float64
windSpeed              8605 non-null float64
dtypes: float64(16), int64(1), object(4)
memory usage: 1.4+ MB

In [200]:
weather_df1.head()

,apparentTemperature,cloudCover,dewPoint,humidity,icon,latitude,longitude,precipAccumulation,precipIntensity,precipProbability,...,pressure,summary,temperature,time,timestamp,uvIndex,visibility,windBearing,windGust,windSpeed
0,96.68,NaN,73.55,0.62,NaN,25.4604,-81.0535,NaN,0.0,0.0,...,1017.5,Humid,88.30,1121702400,2005-07-18T12:00:00,NaN,NaN,105.0,17.12,11.13
1,96.82,0.30,67.69,0.44,clear-day,25.4064,-80.7217,NaN,0.0,0.0,...,1012.7,Clear,92.67,1118937600,2005-06-16T12:00:00,8.0,8.320,233.0,9.77,3.92
2,103.25,NaN,76.27,0.63,NaN,25.5633,-81.0309,NaN,0.0,0.0,...,NaN,Humid,90.80,1124553600,2005-08-20T12:00:00,NaN,NaN,72.0,10.23,4.56
3,75.49,NaN,63.00,0.66,NaN,26.7504,-98.8598,NaN,0.0,0.0,...,NaN,NaN,75.17,1115398800,2005-05-06T12:00:00,NaN,NaN,150.0,18.00,8.99
4,99.08,0.44,74.74,0.63,partly-cloudy-day,25.7083,-80.8412,NaN,0.0,0.0,...,1015.9,Humid and Partly Cloudy,89.13,1122307200,2005-07-25T12:00:00,7.0,9.997,326.0,7.18,4.21